:root {
  --font-bold-italic: serif;
  --font-bold: serif;
  --font-header-bold-italic: sans-serif;
  --font-header-bold: sans-serif;
  --font-header-italic: sans-serif;
  --font-header: sans-serif;
  --font-italic: serif;
  --font-mono-bold: monospace;
  --font-mono-bold_italic: monospace;
  --font-mono-italic: monospace;
  --font-mono: monospace;
  --font-mono_header-bold: monospace;
  --font-mono_header: monospace;
  --font: serif;
  --foreground-rgb: 0, 0, 0;
  --max-width: 1100px;
  --foreground-rgb: 10, 10, 10;
  --background-rgb: 245, 245, 245;
}
.s8-page-header-nav, .s8-page-header-nav-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.s8-link {
  :ta
}
